@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "ActOfRejection";
        src: local("ActOfRejection"),
            url("./assets/fonts/act_of_rejection/Act_Of_Rejection.ttf")
                format("truetype");
    }
    @font-face {
        font-family: "Inter";
        src: local("Inter"),
            url("./assets/fonts/inter/Inter-VariableFont_wght.ttf")
                format("truetype");
    }
    @font-face {
        font-family: "InterItalic";
        src: local("InterItalic"),
            url("./assets/fonts/inter/Inter-Italic-VariableFont_wght.ttf")
                format("truetype");
    }
    @font-face {
        font-family: "Montserrat";
        src: local("Montserrat"),
            url("./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
                format("truetype");
    }
    @font-face {
        font-family: "MontserratItalic";
        src: local("MontserratItalic"),
            url("./assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf")
                format("truetype");
    }
}

@layer components {
    main {
        width: 100%;
        overflow-x: hidden;
    }
    .hide-scrollbar {
        scrollbar-width: none;
    }
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .stroke-text {
        /* -webkit-text-fill-color: transparent; */
        font-stretch: 0%;
        color: #f6f5f5;
        paint-order: stroke fill;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 0.75px;
    }
    .stroke-text-white {
        -webkit-text-stroke-color: white;
    }
    @media screen and (min-width: 640px) {
        .stroke-text {
            -webkit-text-stroke-width: 1px;
        }
    }
    @media screen and (min-width: 768px) {
        .stroke-text {
            -webkit-text-stroke-width: 1.25px;
        }
    }
    @media screen and (min-width: 1024px) {
        .stroke-text {
            -webkit-text-stroke-width: 1.5px;
        }
    }
    @media screen and (min-width: 1280px) {
        .stroke-text {
            -webkit-text-stroke-width: 1.75px;
        }
    }
    @media screen and (min-width: 1536px) {
        .stroke-text {
            -webkit-text-stroke-width: 2px;
        }
    }
}

@layer utilities {
    /* regular btn hover effect */
    .btn-hover-effect-regular::before {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #9333ea;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.5s ease-in-out;
    }
    .btn-hover-effect-regular {
        position: relative;
        z-index: 1;
    }
    .btn-hover-effect-regular:hover::before {
        transform: scaleX(1);
    }

    /* regular button arrow key animation */
    @keyframes slide-right {
        0% {
            transform: translateX(0px);
            opacity: 1;
        }
        25% {
            transform: translateX(50px);
            opacity: 0.5;
        }
        50% {
            transform: translateX(100px);
            opacity: 0;
        }
        65% {
            transform: translateX(-50px);
            opacity: 0;
        }
        75% {
            transform: translateX(-50px);
            opacity: 0;
        }
        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }

    .slide-right {
        animation: slide-right 0.7s ease-in-out;
        animation-iteration-count: 1;
    }
}
